html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */

}

#page-wrap {
  /* text-align: center; */

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;
  text-align: center;
  line-height: 10vh;
  height: 10vh;
  /* Our sidebar item styling */
  margin-bottom: 10px;
  color: #FFFFFF;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 44px;
  height: 40px;
  left: 26px;
  top: 26px;
  background: #37558a;
  border: 8px solid #37558a;
  border-radius: 5px;
}
@media (min-width: 1080px) {
    .bm-burger-button {
        display: none;
    }
}

.bm-burger-bars-hover {
  background: #37558a;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
  height: 24px;
}

/* General sidebar styles */
.bm-menu {
  background: #223557;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}


/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}